.paginator {
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 38px;
  button {
    width: 30px;
    height: 30px;
    left: 1560px;
    top: 1910px;

    /* Grey/200 */

    background: #e3e6eb;
    border-radius: 30px;
  }
}
