@mixin container() {
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 38px;
}
.paginator {
  @include container();
  button {
    margin: 9px 10px;
    border: 0;
    width: 30px;
    height: 30px;
    background: #e3e6eb;
    border-radius: 30px;
    cursor: pointer;
    &.numbered {
      background: #ffffff;
      &.selected {
        background: #e3e6eb;
      }
      &:hover {
        background: #f2f2f2;
      }
    }
  }
}
.limiter {
  @include container();
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 13px;
  .label {
    padding-left: 25px;
    padding-right: 10px;
  }
  button {
    border: 0;
    width: 47px;
    height: 48px;
    background: #ffffff;
    &.selected {
      background: #e3e6eb;
    }
    &:hover {
      background: #f2f2f2;
    }
  }
}
