.findInput {
  background: #f3f3f5;
  border-radius: 8px;
  color: #3a3c40;
  font-size: 13px;
  height: 52px;
  width: -webkit-fill-available;
  padding-left: 55px;
  &::before {
    content: "dgrg";
    background: red;
    width: 20px;
    height: 20px;
  }
  &::placeholder {
    color: #82868c;
  }
}
