.layoutTable {
  border-radius: 2px;
  font-size: 13px;
  .selection-cell,
  .selection-cell-header {
    padding-left: 10px;
    padding-right: 15px;
    line-height: 0px;
  }
  thead th {
    height: 55px;
    color: #82868c !important;
    font-weight: 400;
    vertical-align: middle;
    span {
      padding-right: 10px;
    }
  }
  td {
    border-color: #e9e9e9;
    height: 68px;
    vertical-align: middle;
    .expand-cell {
      padding-right: 10px;
    }
    .expander {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 8px;
        height: 8px;
      }
      &.expanded img {
        transform: rotate(180deg);
      }
    }
  }
  tr {
    background: #ffffff;
  }
}
