$letter-spacing: 0.12px;
.App {
  min-height: 100vh;
  background: #eeeeee;
  font-family: nunito, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: $letter-spacing;
  input,
  button {
    letter-spacing: $letter-spacing;
  }
  .article {
    padding: 20px 30px;
  }
}
