@mixin arrow-btn {
  padding-right: 19px;
  img {
    transition: transform 0.3s;
    &.active {
      transform: rotate(180deg);
    }
  }
}
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #57617b;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:start {
    background-image: transparent url(transition.png) repeat-y !important;
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:end {
    background-image: transparent url(transition.png) repeat-y !important;
    background: transparent;
  }
}
.select {
  width: -webkit-fill-available;
  .rbt-menu.dropdown-menu {
    background: #ffffff;
    /* Shadow Form */
    max-height: 224px !important;
    box-shadow: 0px 5px 18px rgba(40, 41, 61, 0.07);
    border: 0;
    border-radius: 8px;
    padding: 0;

    .dropdown-item {
      height: 56px;
      font-size: 12px;
      display: flex;
      align-items: center;
      color: #57617b;
      &:hover,
      &:active {
        background: #e3e6eb;
      }
    }

    @include scrollbar();
  }
  .input {
    height: 62px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    .title {
      font-size: 12px;
      margin-top: 8px;
      color: #828282;
    }
    input {
      margin-bottom: 6px;
      border: 0;
      outline: 0;
      font-size: 14px;
      color: #3a3c40;
      &::placeholder {
        color: #acacac;
      }
    }
    .button {
      @include arrow-btn();
    }
  }
}

.simpleSelect {
  width: -webkit-fill-available;
  .input {
    height: 34px;

    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    &.active {
      border-radius: 2px 2px 0px 0px;
    }

    .content {
      display: flex;
      align-items: center;
      padding-left: 13px;
      font-size: 13px;
      color: #000000;
      margin-right: 13px;
      overflow-x: hidden;
      white-space: nowrap;
      .placeholder {
        background: #ffffff;
        color: #acacac;
      }
    }

    .button {
      @include arrow-btn();
    }
  }
  .dropdown-menu {
    padding: 0;
    display: block;
    position: absolute;
    width: -webkit-fill-available;
    list-style: none;
    background: #ffffff;
    /* Shadow Form */

    box-shadow: 0px 5px 18px rgba(40, 41, 61, 0.07);
    border-radius: 0 0 8px 8px;
    border-top: 0;
    max-height: 170px !important;
    overflow-y: auto;
    @include scrollbar();

    li {
      display: flex;
      align-items: center;
      min-height: 34px;
      padding-left: 13px;
      color: #57617b;
      &:hover {
        color: #2a2e37;
        background: #e3e6eb;
      }
    }
  }
  .colorized {
    display: inline-block;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: -1px;
  }
}

.datepicker {
  .dateMenu {
    overflow: visible !important;
    .react-datepicker {
      width: 311px;
      height: 345px;
      border: 0;
      box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
      border-radius: 2px;
    }
    .react-datepicker__month-container {
      float: none;
    }
    .react-datepicker__header {
      background: #ffffff;
      border: 0;
    }
  }
}
