.bigButton {
  width: 120px;
  height: 62px;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 8px;
  background: #ffffff;
  font-weight: 700;
  font-size: 13px;

  @mixin hover() {
    color: #ffffff;
    background: #2a2e37;
  }

  &.primary {
    @include hover();
  }

  &:hover {
    @include hover();
  }
}

.smallButton {
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 8px;
  border: 0;
  color: #3a3c40;
  font-size: 13px;
}
